.MainPage
  box-sizing: border-box
  min-height: 100vh
  padding-top: 5vh
  position: relative
  .content
    position: absolute
    width: 100%
    display: flex
    flex-wrap: wrap
    overflow: auto
  .loading
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    p
      margin-top: 20px
