.GroupItems
  overflow-y: auto
  width: 100%
  .loading
    padding-top: 20px
  .button
    display: flex
    justify-content: space-between
    padding-right: 10px
    padding-left: 10px
    p
      margin: 0
    .wrap
      width: 33%
      text-align: left