@import '../../styles/vars'

.Groups
  flex-grow: 1
  min-height: 30vh
  p
    display: inline-block
  .header
    color: $fontColorFade
    font-weight: bold
    p
      padding: 10px
      &:first-child
        padding-left: 0